# Gradle files
.gradle/
build/

# Local config
local.properties

# macOS
.DS_Store

# Logs
*.log

# Android Studio
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

# IntelliJ / Android Studio
*.iml
.idea/*
!.idea/codeStyles
!.idea/gradle.xml
!.idea/misc.xml
!.idea/runConfigurations

# Keystore
*.jks
*.keystore

# Firebase / Google Services (optional)
google-services.json

# Profiling
*.hprof

# Temp files
*.swp
*~
